# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Cache
.pytest_cache/
.ipynb_checkpoints/

# Local results and outputs
results/
eval_results/

# OS-specific files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Datasets
mill.zip
dataset/

